@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

header {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    height: 120px;
}

main {
    max-width: 1000px;
    min-width: 380px;
    margin: auto;
}

.cabeçalho {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    margin-left: 10px;
}

.link-cabeçalho {
    color: black;
    font-weight: 700;
    font-size: 14px;
    text-decoration: none;
    background-color: white;
    padding: 7px;
    border-radius: 5px;
    box-shadow: 2px 2px 3px rgba(255, 255, 255, 0.555);
}

.link-cabeçalho:hover {
    background-color: rgba(102, 110, 138, 0.911);
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 70px;
    margin-top: 40px;
    margin-bottom: 40px;
    line-height: 25px;
}

.btn {
    background-color: black;
    color: white;
    padding: 5px;
    text-align: center;
}

.btn:hover {
    background-color: rgba(0, 60, 255, 0.616);
    color: black;
    font-weight: 700;
}

div > p {
    text-align: center;
}

h4 {
    text-align: center;
}

img {
    border: 1px solid black;
}

.card {
    display: flex;
    flex-direction: column;
}

footer {
    height: 130px;
    background-color: black;
    color: white;
    padding: 10px;
}

.rodapé-inicial {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5px;
    align-items: center;
    gap: 20px;
}

.rodapé-médio {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5px;
    align-items: center;
    gap: 20px;
}

.rodapé-final {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}



