@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

header {
    background-color: black;
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    height: 120px;
}

main {
    max-width: 1000px;
    min-width: 380px;
    font-family: 'Oswald', sans-serif;
    margin: auto;
}

.cabeçalho {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 50px;
}

.link-cabeçalho {
    color: white;
    font-weight: 600;
    text-decoration: none;   
}

.link-cabeçalho:hover {
    color: yellow;
    transition: transform 0.5s;
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.603);
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 70px;
    margin-top: 40px;
    margin-bottom: 40px;
    line-height: 25px;
}

.btn {
    background-color: black;
    color: white;
    padding: 5px;
    text-align: center;
}

.btn:hover {
    background-color: yellow;    
    color: black;
    font-weight: 700;
}

div > p {
    text-align: center;
}

h4 {
    text-align: center;
}

img {
    border: 1px solid black;
}

.card {
    display: flex;
    flex-direction: column;
}

footer {
    height: 60px;
    font-family: 'Oswald', sans-serif;
    background-color: black;
    color: white;
    padding: 10px;
}

.rodapé {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 5px;
}

.rodapé-final {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}



